:root {
    --font: #305943;
    --highlight: #3e8d87;
    --button-color: #fbfffe;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    color: var(--font);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/Pag_Principal/assets/noise.svg);    
}
.introduction-container{
    height: 100vh;
    display: flex;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    max-width: 93.75rem;
    gap: 3rem;
}
h1{
    font-weight: 900;
    font-size: 2rem;
}
span{
    font-weight: 900;
    color: var(--highlight);
}
.avatar-image{
    height: 18.75rem;
    border-radius: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 2rem;
}
#introduction-button {
    width: 11.88rem;
    padding: 1rem;
    outline: none;
    border: none;
    color: var(--button-color);
    background-color: var(--highlight);
    border-radius: 8px;
    font-size: 0.94rem;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    transition: all 1s;
}
#introduction-button:hover {
    background-color: var(--font);
}
#introduction-button:active {
    transform: scale(0.9);
}
a{
    width: fit-content;
}
.links{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.13rem 0;
}
.links h2{
    font-weight: 900;
    font-size: 2rem;
    background-color: var(--highlight);
    color: var(--button-color);
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
}
#cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    row-gap: 4.4rem;
    column-gap: 7.5rem;
    margin-top: 3.4rem;
}
#cards-container div  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
#cards-container div div {
    flex-direction: row;
    justify-content: space-around;
    width: 18.75rem;
}
#cards-container div img {
    width: 18.75rem;
    height: 12.5rem;
    border-radius: 12px;
}
#cards-container div h2 {
    font-size: 1.13rem;
    text-align: center;
    color: var(--button-color);
    background-color: var(--highlight);
    padding: 0.63rem 0.94rem;
    border-radius: 12px;
    width: 18.75rem;
    font-weight: 500;
}
#cards-container div div a {
    background-color: var(--highlight);
    padding: 0.63rem 0.94rem;
    color: var(--button-color);
    border-radius: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}


@media screen and (max-width:1023px) {
    .introduction-container{
        flex-direction: column-reverse;
        text-align: center;
        padding: 1.25rem 0;
        gap: 1rem;
        justify-content: center;
    }
    .text{
        align-items: center;
        width: 80vw;
        gap: 1.2rem;
    }
    .text h1{
        font-size: 1.5rem
    }
    .text h2{
        font-size: 1.3rem
    }
    .avatar-image{
        height: 12.5rem;
    }
    .links h2{
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
    }
}
@media screen and (max-width:819px) {
    #cards-container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:819px) {
    .links h2{
        width: 100%;
    }
}
@media screen and (min-height:920px){
    .links{
        height: 100vh;
    }
}